CS380_GroupResearch/.vs
CS380_GroupResearch/x64
CS380_GroupResearchProject/RacingLine/Binaries
CS380_GroupResearchProject/RacingLine/DerivedDataCache
CS380_GroupResearchProject/RacingLine/Intermediate
CS380_GroupResearchProject/RacingLine/Saved
CS380_GroupResearchProject/RacingLine/.vs
